/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, main {
  scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #f25601;
  --text-color: #fff;
  --subheading-color: #3c3c3c;
  --yellow-background: rgba(255,227,40,0.9);
  --hover-color: #8689a0;
  --slider-item-bg: #fed046;
  --slider-item-bg-mobile: #fff6db;
  --slider-nav-item-bg: #757575;
}

/* Fonts */

@font-face { 
  font-family: "Posterama";
  src: url("../fonts/posterama/Posterama_1927_Bold.otf") format("opentype")
}

@font-face {
  font-family: "Noto-sans";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: "facetype-publica";
  src: url("../fonts/facetype_publica/facetype_publica_slab_regular.otf") format("opentype");
}

@font-face {
  font-family: "Roboto-condensed";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "cdtype-locke";
  src: url("../fonts/cdtype_locke/cdtype_locke_regular.otf") format("opentype");
}

/* Reusable Classes */

.active {
  display: block !important; 
}

.none {
  display: none !important;
}

.cross {
  background-image: url(../images/assets/btn_nav_on.png) !important;
}

.testClass {
  background-color: pink !important;
}

/* Global */

body main {
  height: 100vh;
}

body main > img {
  width: 100%;
  display: block;
}

body main section {
  height: 110vh;
  /*transition: 3s;*/
  scroll-snap-align: start;
  background-size: 8em, 8em;
}

body main section div > h2,h3,
body main section > h2,h3 {
  font-family: "Posterama";
  color: var(--subheading-color);
  font-weight: 300;
  text-align: center;
}

body main section div > h2,
body main section > h2 {
  font-size: 2em;
  letter-spacing: .1em;
}

body main section div > h3,
body main section > h3 {
  font-size: 1em;
  margin-bottom: 1em;
}

body main section div > h3::before,
body main section div > h3::after,
body main section > h3::before,
body main section > h3::after {
  font-family: "Noto-sans";
  content: ' ╌ ';
  font-weight: 600;
}

/* Landing Section */

body main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-image: url('../images/assets/main_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body main section:nth-child(1) > img {
  width: 100%;
  align-self: center;
}
    
body main section:nth-child(1) header {
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  position: relative;
}
    
body main section:nth-child(1) header button {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5em;
  height: 3.5em;
  background-image: url('../images/assets/btn_nav_off.png');
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
    
body main section:nth-child(1) header nav {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--yellow-background);
}

body main section:nth-child(1) header nav h1 {
  width: 100%;
  margin-top: .5em;
  text-align: center;
}

body main section:nth-child(1) header nav ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body main section:nth-child(1) header nav ul li {
  list-style-type: none;
  padding: .5em;
  width: 100%;
  text-align: center;
}
    
body main section:nth-child(1) header nav h1 img {
  width: 13em;
  height: 4em;
  text-align: center;
}

body main section:nth-child(1) header nav ul li:nth-child(9),
body main section:nth-child(1) header nav ul li:nth-child(10),
body main section:nth-child(1) header nav ul li:nth-child(11) {
  padding: .3em;
  width: 5em;
}

body main section:nth-child(1) header nav ul li:nth-child(9) a img,
body main section:nth-child(1) header nav ul li:nth-child(10) a img,
body main section:nth-child(1) header nav ul li:nth-child(11) a img {
  width: 2.5em;
}

body main section:nth-child(1) header nav ul li a {
  font-size: 1.5em;
  font-family: "Posterama";
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 0 0.1em var(--subheading-color);
}
  
body main section:nth-child(1) header nav ul li a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* News Section */

body main section:nth-child(3) {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body main section:nth-child(3) > div::after {
  position: absolute;
  background-image: url("../images/assets/arrow_g_r.png");
  right: 0%;
  top: 40%;
  transform: translate(3em);
}

body main section:nth-child(3) > div::before {
  position: absolute;
  background-image: url("../images/assets/arrow_g_l.png");
  left: 0%;
  top: 40%;
  transform: translate(-3em);
}

body main section:nth-child(3) > ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: .5em;
  text-align: center;
}

body main section:nth-child(3) > ul li {
  font-family: "cdtype-locke";
  list-style-type: none;
}

body main section:nth-child(3) > ul li a:hover { 
  color: var(--slider-item-bg);
  cursor: pointer;
}

body main section:nth-child(3) > ul li::after {
  content: '/';
  font-size: .8em;
  padding-left: .5em;
}

body main section:nth-child(3) > ul li:last-of-type::after {
  content: '';
}

/* -- Slider -- */

.newsSlider {
  position: relative; 
  width: 100%;
  margin: 0 auto;
}

.newsSlider > div {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: scroll;
  height: 32em;
  margin: 0; padding: 0
}

.newsSlider > nav {
  display: none;
}

.newsSlider > div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.newsSlider > div ul li {
  display: grid;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: .5em;
  padding-top: .5em;
}

.newsSlider > div ul li:nth-child(odd) {
  background-color: var(--slider-item-bg-mobile);
}

.newsSlider > div ul li a {
  color: var(--subheading-color);
  font-size: .8em;
  margin-top: .3em;
  grid-column-start: 1;
  grid-column-end: 4;
}

.newsSlider > div ul li h3 {
  font-family: "cdtype-locke";
  text-transform: uppercase;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--subheading-color);
  color: var(--text-color);
  font-size: .6em;
  border-radius: .1em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.newsSlider > div ul li h4 {
  font-family: "Roboto-condensed";
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Live Section */

body main section:nth-child(5) {
  background-image: 
    url('../images/assets/live_illust_1.png'),
    url('../images/assets/live_illust_2.png'),
    url('../images/assets/live_illust_3.png')
  ;
  background-repeat: no-repeat;
  background-position: left top, left bottom, right bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Discography Section */

body main section:nth-child(7) {
  background-image: 
    url('../images/assets/discography_illust_1.png'),
    url('../images/assets/discography_illust_2.png'),
    url('../images/assets/discography_illust_3.png')
  ;
  background-repeat: no-repeat;
  background-position: center top, left bottom, right bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Profile Section */

body main section:nth-child(9) {
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center top, left bottom, right bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body main section:nth-child(9) div article:nth-child(2) img {
  display: flex;
  flex: 1 1 50%;
  margin-left: auto;
  margin-right: auto;
}

body main section:nth-child(9) div article:nth-child(2) p {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 0.8rem;
}

body main section:nth-child(9) div article:nth-child(2) h3 {
  flex: 0 0 100%;
  margin-bottom: 1em;
}

body main section:nth-child(9) div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

body main section:nth-child(9) div > button {
  text-align: right;
  background-color: var(--button-color);
  color: var(--text-color);
  font-family: "Posterama";
  font-weight: bold;
  border: none;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 1em;
  width: 70%;
  height: 8em;
}

body main section:nth-child(9) div > button:first-of-type {
  background-image: url("../images/assets/profile_pon_on.png");
  background-repeat: no-repeat;
  background-position: -2em -1em;
  background-size: 16em;
}

body main section:nth-child(9) div > button:last-of-type {
  background-image: url("../images/assets/profile_kojima_on.png");
  background-repeat: no-repeat;
  background-position: 2em -1em;
  background-size: 8em;
}

body main section:nth-child(9) div article:nth-child(1),
body main section:nth-child(9) div article:nth-child(3) {
  display: none;
}

/* Video Section */
body main section:nth-child(11) {
  position: relative;
  background-image: 
    url('../images/assets/video_bg_mobile.jpeg')
  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

  body main section:nth-child(11) > a:first-of-type {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 10em;
    bottom: 5em;
  }

  body main section:nth-child(11) > a:last-of-type {
    position: absolute;
    color: var(--text-color);
    bottom: 1em;
    left: 1em;
    width: 80%;
  }

  body main section:nth-child(11) h2,
  body main section:nth-child(11) h3 {
    color: var(--text-color);
  }

  body main section:nth-child(11) > a img {
    position: absolute;
    width: 10em;
    bottom: 0;
  }

  /* Footer */

  footer {
    width: 100%;
    height: 1em;
    background: #000;
    line-height: 1;
    padding: 1em;
    position: relative;
  }


/* Conditions die starten bij medium scherm */

@media (min-width: 40em) { 

  /* global */
  body main,
  body main section {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  body main > img {
    display: none;
  }

  /* News section */

  body main section:nth-child(3) {
    background-image: 
      url('../images/assets/news_illust_1.png'),
      url('../images/assets/news_illust_2.png')
    ;
    background-repeat: no-repeat;
    background-position: left top, left bottom;
  }

  /* Profile section */

  body main section:nth-child(9) {
    height: 100vh;
    justify-content: flex-end;
  }

  body main section:nth-child(9) div:last-of-type > button {
    display: none;
  }

  body main section:nth-child(9) div:last-of-type {
    width: 70%;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  body main section:nth-child(9) div article:nth-child(1),
  body main section:nth-child(9) div article:nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  body main section:nth-child(9) div article:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 

  body main section:nth-child(9) div article:nth-child(2) > h3 {
    flex-basis: 100%;
  } 

  body main section:nth-child(9) div article:nth-child(2) img {
    width: 20em;
    height: 20em;
    flex: none;
    margin: 0;
  }

  body main section:nth-child(9) div article:nth-child(2) p {
    width: 20em;
    margin: 0;
    margin-left: 1em;
  }

  body main section:nth-child(9) div article:nth-child(1) > button,
  body main section:nth-child(9) div article:nth-child(3) > button {
    background-color: var(--button-color);
    height: 2em;
  }
}







@media (min-width: 60em) { 

  /* Global */

  body section header {
    margin: 0 auto;
    margin-top: 1em;
  }

  body main section div > h2,
  body main section > h2 {
    font-size: 4em;
    letter-spacing: .1em;
  }

  /* Landing section */
  
  body main section:nth-child(1) header button {
    display: none;
  }
  
  body main section:nth-child(1) header nav {
    display: flex;
    justify-content: center;
    height: inherit;
    background-color: transparent;
    flex-direction: row;
    position: relative;
    color: var(--text-color);
    transition: .3s;
  }
  
  body main section:nth-child(1) header nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
  }

  body main section:nth-child(1) header nav ul li {
    width: auto;
  }

  body main section:nth-child(1) header nav ul li a {
    font-size: 1em;
  }
  
  body main section:nth-child(1) header nav ul li a:hover {
    color: var(--hover-color);
    cursor: pointer;
  }

  body main section:nth-child(1) header nav h1 img {
    width: 9.8em;
    height: 2.7em;
  }
  
  body main section:nth-child(1) header nav h1 {
    width: 8em;
    margin-left: 2em;
    margin-right: 2em;
  }
  
  body main section:nth-child(1) > img {
    width: 45em;
    align-self: center;
  } 

  body main section:nth-child(1) header nav ul li:nth-child(9),
  body main section:nth-child(1) header nav ul li:nth-child(10),
  body main section:nth-child(1) header nav ul li:nth-child(11) {
    width: 2.5em;
  }

  body main section:nth-child(1) header nav ul li:nth-child(9) a img,
  body main section:nth-child(1) header nav ul li:nth-child(10) a img,
  body main section:nth-child(1) header nav ul li:nth-child(11) a img {
    width: 2em;
    border-radius: .2em;
  }

  /* Slider */

  .newsSlider {
    position: relative; 
    width: 100%;
    margin: 0 auto;
  }

  .newsSlider > nav {
    display: block;
  }
  
  .newsSlider > div {
    height: 32em;
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    
    /* handmatig scrollen is mogelijk */
    overflow: hidden;
    
    /* snappen als er gescrolled wordt - andere helft bij li */
    scroll-snap-type: inline mandatory;
    /* smooth als met js gescrolled wordt */
    scroll-behavior: smooth;
    /* scrollbar zoveel mogelijk verbergen */
    -webkit-overflow-scrolling: touch; /* voor iOS*/
    -ms-overflow-style: none; /* voor IE */
    scrollbar-width: none; /* voor firefox */
    
    /* indien het einde of het begin van de pagina bereikt is met scrollen */
    /* voorkomen dat de pagina gaat scrollen */
    overscroll-behavior: contain auto;
  }
  
  .newsSlider > div::-webkit-scrollbar {
    /* scrollbar zoveel mogelijk verbergen */
    display: none; /* voor chrome, safari en edge*/
  }
  
  .newsSlider > div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1ch;
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
    list-style-type: none;
    padding-left: 0;
  }
  
  .newsSlider > div ul li {
    display: grid;
    height: auto;
    width: calc( 50% - 1em);
    background-color: var(--slider-item-bg);
    border-radius: .2em;
  }

  .newsSlider > div ul li:nth-child(odd) {
    background-color: var(--slider-item-bg);
  }
  
  .newsSlider > div ul li h3 {
    grid-column-start: 3;
    grid-column-end: 3;
    border-radius: .2em;
    font-size: 1em;
    background-color: var(--subheading-color);
    color: var(--text-color);
    font-family: "facetype-publica";
    text-transform: uppercase;
    margin-top: .5em;
    margin-right: .5em;
    padding: .5em;
    padding-top: .1em;
    padding-bottom: .2em;
  }
  
  .newsSlider > div ul li h4 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: "Roboto-condensed";
    font-weight: bold;
    margin-top: .7em;
    margin-left: .5em;
  }
  
  .newsSlider > div ul li a {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 90%;
    justify-self: center;
    margin-top: .7em;
  }
  
  .newsSlider > div ul > img {
    display: block;
    width: 100%;
  }
  
  /* de bolletjes container */
  .newsSlider nav ul {
    position: absolute;
    left: 2em; right: 2em;
    margin: 0;
    padding: .25em;
    list-style: none;
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  
  /* de bolletjes wrapper */
  .newsSlider nav li {
    position: relative;
    display: flex;
    margin: 1em;
    padding: 0;
  }
  
  .newsSlider > nav li::after {
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 50%;
    content: '│';
    transform: rotate(-90deg);
  }
  
  .newsSlider > nav li:last-of-type::after {
    content: '';
  }
  
  /* de bolletjes */
  .newsSlider > nav a {
    display: block;
    width: .7em;
    height: .7em;
    color: currentColor;
    background-color: var(--slider-nav-item-bg);
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .newsSlider > nav a:hover,
  .newsSlider > nav a:focus {
    color: green;
  }
  
  .newsSlider > nav a.current {
    background-color: currentColor;
  }
  
  .newsSlider > a {
    position: absolute;
    width: 3em; height: 3em;
    top: calc(50% - 1.5em);
  
    color: currentColor;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.5s;
  }
  
  /* initieel staan de links "buiten beeld" */
  .newsSlider > a[href="previous"] {
    left: 0em;
  }
  .newsSlider > a[href="next"] {
    right: 0em;
  }
  
  /* bij hover en focus schuiven de links in beeld
  .newsSlider:hover > a[href="previous"],
  .newsSlider:focus-within > a[href="previous"] {
  }
  .newsSlider:hover > a[href="next"],
  .newsSlider:focus-within > a[href="next"] {
  }*/
  
  /* prev en next linkbuttons pijltjes */
  .newsSlider > a::before,
  .newsSlider > a::after {
    content: "";
    position: absolute;
    width: 2em; height: 4px;
    background-color: currentColor;
  }
  
  .newsSlider > a[href=previous]::before {
    transform-origin: 2px center;
    transform: translateY(0) rotate(45deg);
  }
  .newsSlider > a[href=previous]::after {
    transform-origin: 2px center;
    transform: translateY(0) rotate(-45deg);
  }
  
  .newsSlider > a[href=next]::before {
    transform-origin: calc(100% - 2px) center;
    transform: translateY(0) rotate(45deg);
  }
  .newsSlider > a[href=next]::after {
    transform-origin: calc(100% - 2px) center;
    transform: translateY(0) rotate(-45deg);
  }
  
  .newsSlider > a:hover,
  .newsSlider > a:focus {
    color: var(--newsSliderAccentColor);
  }

  body main section:nth-child(11) {
    background-image: 
      url('../images/assets/video_illust_1.png'),
      url('../images/assets/video_illust_2.png'),
      url('../images/assets/video_bg.jpeg')
    ;
    background-repeat: no-repeat;
    background-position: left -2em, right -2em, center;
    background-size: 50%, 50%, cover;
  }
}