/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #f25601;
  --text-color: #fff;
  --yellow-background: rgba(255,227,40,0.9);
  --hover-color: #8689a0;
}

/* Fonts */

@font-face { 
  font-family: "Posterama";
  src: url("/fonts/posterama/Posterama_1927_Bold.otf") format("opentype")
}

/* classes */
.active {
  display: block !important; 
}

.none {
  display: none !important;
}

.cross {
  background-image: url(/images/assets/btn_nav_on.png) !important;
}

body div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url('/images/assets/main_bg.jpg');
  background-size: cover;
  background-position-y: -8.5vh;
  background-repeat: no-repeat;
}

body div header {
  margin: 0 auto;
  margin-top: 1em;
}

body div:nth-child(1) header button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5em;
  height: 3.5em;
  background-image: url(/images/assets/btn_nav_off.png);
  background-size: contain;
  background-color: transparent;
  border: none;
}

body div header nav {
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--text-color);
}

body div:nth-child(1) header nav ul {
  display: flex;
  flex-direction: row;
}

body div:nth-child(1) header nav ul li {
  list-style-type: none;
  padding: .5em;
}

body div:nth-child(1) header nav ul li a {
  font-family: "Posterama";
}

body div:nth-child(1) header nav ul li a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

body div:nth-child(1) header nav h1 {
  width: 10em;
}

body div:nth-child(1) header nav h1 img {
  width: 100%;
  text-align: center;
}

body div:nth-child(1) img {
  width: 45em;
  align-self: center;
}

@media screen and (max-width: 500px) {
  body div:nth-child(1) {
    background-image: url('/images/assets/main_bg_mobile.jpeg');
    background-size: cover;
    background-position-y: 0vh;
  }

  body div:nth-child(1) header {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    position: relative;
  }

  body div:nth-child(1) img {
    width: 100%;
    align-self: center;
  }

  body div:nth-child(1) header button {
    z-index: 1;
    display: block;
  }

  body div:nth-child(1) header nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--yellow-background);
  }

  body div:nth-child(1) header nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  body div:nth-child(1) header nav h1 {
    width: 100%;
    margin-top: .5em;
    text-align: center;
  }

  body div:nth-child(1) header nav h1 img {
    width: 9.8em;
    height: 2.7em;
  }

  body div:nth-child(1) header nav ul li {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }

  body div:nth-child(1) header nav ul li:nth-child(1) {
    margin-top: 0;
  }
}